@import "config";

* {
  box-sizing: border-box;
}
body {
  background: $primary-color;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: lighten($primary-color, 2);
  }
}
.text-secondary {
  color: $secondary-color;
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  background: darken($primary-color, 2);
}
.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
  padding: 0;
  li {
    display: inline-block;
    font-size: 1.1rem;
    font-weight: bold;
    a {
      color: white;
      padding: 8px 15px;
      &:hover {
        color: black;
        background-color: $secondary-color;
        box-shadow: 0 0 10px white;
        @include easeOut();
      }
    }
  }
}

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// About page
#about h1 {
  margin-top: 10vh;
}
.about-info {
  display: grid;
  gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "skillstitle skillstitle skillstitle"
    "skills1 skills2 skills3";
  grid-template-columns: repeat(3, 1fr);
}
.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: 3px solid $secondary-color;
}
.bio {
  grid-area: bio;
  font-size: 1.5rem;
}
.skills-title {
  grid-area: skillstitle;
  font-size: 1.5rem;
}
.skills-front {
  grid-area: skills1;
}
.skills-back {
  grid-area: skills2;
}
.skills-tools {
  grid-area: skills3;
}
.skills {
  background: lighten($primary-color, 5);
  border-bottom: 5px solid $secondary-color;
  padding: 0.5rem;
}

// My Work page
#work h1 {
  margin-top: 10vh;
}
.projects {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px solid #fff;
    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}
.project-title {
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem;
  color: $secondary-color;
  background: lighten($primary-color, 5);
}
.project-tech {
  text-align: center;
  margin: 0;
  padding: 0.5rem;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background: lighten($primary-color, 5);
}
.project-description {
  margin: 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  text-align: left;
  background: lighten($primary-color, 5);
}

// Contact Me page
#contact h1 {
  margin-top: 10vh;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 3px solid #fff;
    margin: 0 1rem 3rem 1rem;
    padding: 1.5rem 2.5rem;
    @include easeOut;
    a {
      margin: 0 10px;
    }
    &:hover {
      margin: 0 2rem 3rem 2rem;
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
    }
  }
}

// Button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
  }
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 40);
  color: hsl(0, 0%, 20%);
}
.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

// Footer
#main-footer {
  height: 60px;
  padding: 1rem;
  background: darken($primary-color, 10);
  text-align: center;
}

@import "responsive";
